<template name="docs">
    <h1>REST API Docs</h1>

    {{#each route in dlist}}
        {{#each method in route.methods}}
            <div class="ui divided selection list">
                <h2 class="item">
                    <div class="ui red horizontal label" style="text-transform: uppercase;">{{method}}</div>
                    {{route.path}}
                </h2>
            </div>
            
            <div class="ui black"> <pre> {{getComment route._id method}}</pre></div>
        {{/each}}
    {{/each}}
</template>
