<template name="footer">
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Navigation</h4>
                    <div class="ui inverted link list">
                        <a href="/register" class="item">Sign up</a>
                        <a href="/" class="item">Search profiles</a>
                        <a href="/bookings" class="item">My bookings</a>
                        <a href="/profile" class="item">My profile</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Advantages</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">- Earn money by taking calls</a>
                        <a href="#" class="item">- Expand your network</a>
                        <a href="#" class="item">- Use our realtime chat/video app</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">What is Introcall.io?</h4>
                    <p>Introcall is a professional networking service. Setup meetings with other professionals, and even earn money to take calls (paid calls coming soon). Just sign up, fill in your profile, and connect your Google Calendar to get started.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
