<template name="home">

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="bigimg">
            {{> navigation}}

            <video class="video-background" 
            no-controls autoplay loop 
            poster="https://d2c6jjk3vnoatm.cloudfront.net/spree/option_values/23/mini/black.png?1461132935">
                <source src="/videos/home/combined.mov" type="video/quicktime">
                <source src="/videos/home/combined.mp4" type="video/mp4">
            </video>

            <div class="ui text container">
                            

                <h1 class="ui inverted header">
                    Introcall.io
                </h1>
                
                {{#if curMeteorUser}}
                    <h2>Thank you for signing up, and welcome! Start searching for people to Introcall™ below.</h2>
                {{else}}
                    <h2>Setup an Introcall™ online meeting with professionals, and earn money just by taking calls.</h2>
                    <a class="ui huge primary button" href="/register">Get started <i class="right arrow icon"></i></a>
                {{/if}}
            </div>

        </div>

        <div class="ui vertical stripe segment container">
            <h2>Search for Profiles</h2>

            <div class="ui grid">
                <div class="six wide column">
                    <select id="kfilter" class="ui fluid search dropdown" multiple="" onchange="Session.set('kfilter', $(this).val())">

                        <option value="">filter by keywords</option>
                        {{#each k in keywords}}
                            <option value="{{k.word}}">{{k.word}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="ui special cards">
                {{#each cp in cprofiles}}
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui inverted button" href="/joincall/{{cp.userId}}">Join call</a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{cp.avatarUrl}}">
                        </div>
                        <div class="content">
                            <a class="header">{{cp.name}}</a>
                            <div class="meta">
                                <span class="date"><i class="world icon"></i> {{cp.currentLocation}}</span>
                            </div>
                            <div class="description">
                                <div class="keywords">{{cp.keywords}}</div>
                                {{cp.description}}
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="ui labeled button" href="/meet/{{cp.userId}}">
                                <div class="ui red button">
                                    <i class="phone icon"></i> Set up a call
                                </div>
                                <a class="ui basic red left pointing label">
                                    1,048
                                </a>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>

        </div>

        {{> footer}}
    </div>

</template>
