<template name="joincall">

    {{> notifications}}
    <iframe src="https://appear.in/introcall.io-sandbox" width="800" id="appearin" height="640" frameborder="0"></iframe>
    <div class="container">
        <div class="row">
            <div class="messages-container">
                <h2>Chat with</h2>
                <div class="messages ui floating message">
                    {{#if messages}}
                        {{#each messages}}

                            {{#if color owner}}
                                <div class="single_message_container ui floating message">

                                    <span class="name">{{getName owner}}</span>
                                    <span class="timestamp">&ndash;{{timestamp}}</span>
                                    <span class="message_star"></span>
                                    <span class="message_content">{{message}}</span> {{scroll}}
                                </div>

                            {{else}}
                                <div class="single_message_container ui blue floating message">
                                    <!-- <p> -->
                                    <span class="name">{{getName owner}}</span>
                                    <span class="timestamp">&ndash;{{timestamp}}</span>
                                    <span class="message_star"></span>
                                    <span class="message_content">{{message}}</span>
                                    <!-- </p> -->
                                    {{scroll}}
                                </div>
                            {{/if}}
                        {{/each}}

                    {{/if}}
                </div>
                <!-- <ul class="user-list">
                    {{"{{#if roomusers"}}}}
                        {{"{{#each roomusers"}}}}
                            {{"{{#if away"}}}}
                            <li class="away">{{"{{user"}}}} <span>&ndash; away</span></li>
                            {{"{{else"}}}}
                            <li>{{"{{user"}}}}</li>
                            {{"{{/if"}}}}
                        {{"{{/each"}}}}
                    {{"{{/if"}}}}
                </ul> -->
            </div>
            <div class="input-box">
                <input type="text" class="input-box_text" placeholder="Type something">
            </div>
        </div>
        <div class="row">
            <div class="add-message">
                <p class="pull-left">
                    Logged in as: <b>{{currentProfile.name}}</b>
                </p>
            </div>
        </div>
    </div>

</template>
