<template name="navigation">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="logocontainer header" href="/"><img src="/logo.png" id="logo" /></a>
            <a class="{{#if currentRouteIs 'home'}}active{{/if}} item" href="{{pathFor route='home'}}">Home - All Profiles</a>
            <a class="{{#if currentRouteIs 'bookings'}}active{{/if}} item" href="/bookings">My Bookings</a>
            <a class="{{#if currentRouteIs 'profile'}}active{{/if}} item" href="/profile">My Profile</a>
            <div class="right item">
                {{#if currentUser}}
                    <span>
                        <div class="ui inline dropdown">
                            
                            <div class="text">
                            
                            {{#each cp in profiles}}
                                Hi, 
                                {{cp.name}}
                                &nbsp;
                                 <img class="ui avatar image" src="{{cp.avatarUrl}}">
                            {{/each}}

                            </div>

                        </div>
                    </span>
                    <a class="ui inverted button logout">Logout</a>
                {{else}}
                    <a class="ui inverted button" href="{{pathFor route='login'}}">Log in</a> &nbsp;
                    <a class="ui inverted button" href="{{pathFor route='register'}}">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </div>
</template>
